h1 {
  color: #fb6e22;
  font-family: 'Rock Salt', cursive;
  font-weight: 900;
  letter-spacing: 3px;
  word-spacing: 14px;
  text-align: center;
  font-size: 70px;
  margin: 0px auto 20px auto;
  padding-top: 30px;
}
h2 {
  text-align: center;
  margin: 0px auto 80px auto;
  font: 1em Helvetica, sans-serif;
  font-weight: bold;
  font-size: 40px;
}
.app {
  margin: 0;
  padding-top: 30px;
}

.groupList {
  display: flex;
}
.groupLi {
  list-style: none;
  border-radius: 20px;
  color: white;
  font: 1em Helvetica, sans-serif;
  font-weight: bold;
  font-size: 80px;
  width: 35%;
  height: 400px;
  margin: 30px 100px 50px 20px;
  padding: 20px;
  text-align: center;
}

.wodLi {
  background-color: rgba(67, 66, 64, 0.3);
  color: #ffe900;
  font: 1em Helvetica, sans-serif;
  font-size: 36px;
  width: 70%;
  margin: 40px auto;
  padding: 10px;
  list-style: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.wodLink {
  text-decoration: none;
}
.wodList {
  padding: 0px;
  align-items: center;
}
