.kettlebellIcon {
  width: 10%;
  height: auto;
  margin-right: 10px;
}
.wodLink:hover svg.kettlebellIcon path {
  -webkit-transition: fill 0.1s ease;
  -moz-transition: fill 1s ease;
  -o-transition: fill 1s ease;
  transition: fill 1s ease;
  fill: #f1db0f;
}
