.modalContainer {
  background-color: #044875;
  z-index: 10;
  position: fixed;
  text-align: center;
  width: 75%;
  height: 500px;
  padding: 20px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  color: #fd941f;
}

.modalBtn {
  font: 1em Helvetica, sans-serif;
  font-size: 18px;
  background-color: #f1db0f;
  width: 20%;
  padding: 12px;
  border-radius: 12px;
  text-align: center;
  margin: 50px auto;
}
