.pushWrapper {
  display: flex;
}

.movements > li {
  margin: 0 20px;
  list-style: none;
  display: inline;
}

.movements {
  align-self: flex-end;
  width: 75%;
  color: white;
  font-size: 36px;
}
