.containerFlexOne {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(175, 178, 183, 0.3);
  color: white;
  padding: 40px;
}

.wodName {
  color: orange;
  letter-spacing: 2px;
  margin: 60px auto;
  flex-basis: 50%;
}
.wodName > h2 {
  font-size: 36px;
}

.wodDesc {
  text-align: center;
  background-color: rgba(175, 178, 183, 0.05);
  margin: 60px auto;
  order: 2;
  flex-basis: 50%;
}
.wodDesc > h2 {
  margin-bottom: 0;
  color: orange;
}
.warmUp {
  white-space: pre-wrap;
  letter-spacing: 1px;
  line-height: 30px;
}

.array {
  color: #a3a3a3;
}

.difficulty {
  order: 3;
  flex-basis: 70;
  margin: 15px auto 25px auto;
}

.movesContainer {
  display: flex;
  order: 4;
  flex-basis: 100%;
  flex-wrap: wrap;
}
.movesContainer > * {
  background-color: #0e7b8e;
  width: auto;
  padding: 5px;
  color: #f1db0f;
  border-radius: 12px;
  text-align: center;
  flex-basis: 150px;
  margin: 0 5px 0 5px;
}

.detailsContainer {
  height: 100vh;
  margin: 0;
}

.buttonWrap {
  text-align: center;
  background-color: rgba(175, 178, 183, 0.3);
}

.startBtn {
  background-color: #f1db0f;
  padding: 12px;
  border-radius: 12px;
  text-align: center;
  margin: 50px auto;
}
