.containerFlexOne {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: orange;

  padding: 40px;
  margin: auto;
}
.containerFlexOne > h2 {
  font-size: 72px;
}
.containerFlexTwo {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: orange;
  margin: auto;
}

.wodName {
  color: orange;
  letter-spacing: 2px;
  margin: 60px auto;
  flex-basis: 55%;
}
.wodName > h2 {
  font-size: 56px;
}

.wodDesc {
  text-align: center;
  background-color: rgba(175, 178, 183, 0.05);
  margin: 60px auto;
  order: 1;
  flex-basis: 60%;
}
.wodDesc > h2 {
  margin-bottom: 0;
  color: orange;
}
.buttonWrap {
  text-align: center;
  order: 2;
  flex-basis: 50%;
}

.array {
  color: white;
}

.difficulty {
  font: 1em Helvetica, sans-serif;
  font-size: 26px;
  order: 3;
  flex-basis: 70;
  margin: 15px auto 25px auto;
}

.movesContainer {
  font: 1em Helvetica, sans-serif;
  font-size: 26px;
  justify-content: center;
  display: flex;
  order: 4;
  flex-basis: 100%;
  flex-wrap: wrap;
}
.movesContainer > div {
  font-size: 20px;
  border: 3px solid orange;
  background-color: orange;
  border-radius: 20px;
  width: auto;
  padding-left: 12px;
  padding-right: 12px;
  color: white;
  text-align: center;
  margin: 0 5px 20px 5px;
}
.infoContainer {
  background-color: rgba(50, 80, 101, 0.14);
  text-align: center;
  height: auto;
  padding: 50px;
}

.detailsContainer {
  height: 100vh;
  margin: 0;
}

.startBtn {
  background-color: #f1db0f;
  padding: 12px;
  border-radius: 12px;
  text-align: center;
  margin: 50px auto;
}
